<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />

</head>
<body>

    <div style="position: absolute; left: 0px; top: 0px; width:100%; height:100%">
        <Iframe name="tt" style="height:100%; width:100%" src="https://www.windy.com/?65.694,81.563,3" marginwidth="1" marginheight="1" scrolling="yes" frameborder="10"></Iframe>
    </div>
</body>
</html>
